{{!-- will probably want to move this into a different handlebars file called drinks or somthing --}}
{{!-- index could be where we store the login info page --}}
<div class="container">
    {{!-- row containing all cards --}}
    {{!-- card-wrapper is placehodler used to apply styling for flexview --}}
    {{!-- probably a better way to do this in materialized --}}
    <div class="row card-wrapper">
        {{!-- for each drink object passed in through the micr-route /drinks --}}
        {{#each drinks}}
        {{!-- build a card --}}
            <div class="card col s12 m6 l4 push-s1">
                <div class="card-image waves-effect waves-block waves-light">
                    {{!-- img source field --}}
                    <img class="activator" src={{img_url}}>
                </div>
                <div class="card-content">
                    {{!-- content of the card --}}
                    <span class="card-title activator grey-text text-darken-4">{{name}}<i
                            class="material-icons right">more_vert</i></span>
                    <p><a data-cocktailId={{id}} class="add-cocktail-button"><i class="material-icons">add</i></a></p>
                </div>
                {{!-- items that get expanded --}}
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{name}}<i
                            class="material-icons right">close</i></span>
                           
                    {{!-- this section could get a little tricky, we have to assume it's--}}
                    {{!-- possible to have as few as 1 ingridient, and up to 15  --}}
                    {{!-- might be a way to handle this with a #each handlebar method --}}
                    <ul>
                        {{#each Ingredients}}
                            <li>{{CocktailIngredient.amount}} {{CocktailIngredient.measurement}} {{name}}</li>
                        {{/each}}
                        
                    </ul>
                    {{!-- paragraph of the instructions passed in --}}
                    <p>{{instructions}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>