{{!-- Title and instructions card --}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">My Cocktails</span>
          <p>These are the cocktails you've added to your list, as well as ones you've created yourself.</p>
        </div>
        <div class="card-action">
          <a href="/createcocktail">Create a Cocktail</a>
          <a href="/cocktails">Browse All</a>
        </div>
      </div>
    </div>
  </div>

    {{!-- row containing all cards --}}
    {{!-- card-wrapper is placehodler used to apply styling for flexview --}}
    <div class="row card-wrapper">
        {{!-- for each drink object passed in through the micr-route /drinks --}}
        {{#each drinks}}
        {{!-- build a card --}}
        <div class="col s12 m6 l4">
            <div class="card push-s1">
                <div class="card-image waves-effect waves-block waves-light">
                    {{!-- img source field --}}
                    <img class="activator" src={{img_url}}>
                </div>
                <div class="card-content">
                    {{!-- content of the card --}}
                    <span class="card-title activator grey-text text-darken-4">{{name}}<i
                            class="material-icons right">more_vert</i></span>
                    <p>
                      <a data-cocktailId={{id}} class="delete-cocktail-button"><i class="material-icons">delete</i></a>
                    </p>
                    <p></p>
                </div>
                {{!-- items that get expanded --}}
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{name}}<i
                            class="material-icons right">close</i></span>
                    <ul>
                        {{#each Ingredients}}
                        <li>{{Ingredient.amount}} {{Ingredient.measurement}} {{name}}</li>
                        {{/each}}

                    </ul>
                    {{!-- paragraph of the instructions passed in --}}
                    <p>{{instructions}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>